* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(238, 238, 238);
    font-family: 'Lato', sans-serif;
}

#header {
  padding-block: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-img {
   width: 100%;
   height: 100%;
   max-width: 300px;
}

#nav-bar {
    width: 50%;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}


.primary-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

#form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 15%;
}

input[type="email"] {
    margin-bottom: 1em;
    padding: .3em;
    min-width: 275px;
    cursor: pointer;
}

#submit {
    all: unset;
    padding: .3em 1em;
    text-transform: uppercase;
    text-align: center;
    background-color: #f1c40f;
    width: max-content;
    font-weight: 900;
    margin-inline: auto;
}

.features {
    width: 50%;
    margin: 6em auto;
}

.description {
   display: flex;  
   justify-content: center;
   margin-bottom: 5em;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkorange;
    width: 24%;
}

.text { 
    margin: 0;
    width: 86%;
}

.video {
    display: block;
    margin-inline: auto;
    max-width: 100%;
}

.pricing {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: calc(100% / 3);
    row-gap: 10px;
    max-width: 300px;
}

.product__title {
    padding: 1em;
    text-align: center;
    background-color: #ddd;
    width: 100%;
    text-transform: uppercase;
    font-size: 1rem;
}

.product__text {
    text-align: center;
    line-height: 2em;
}

.product__price {
    font-size: 2rem;
    font-weight: 300;
}

.product__btn {
    margin-bottom: 1em;
    border: none;
    background-color: #f1c40f;
    padding: .5em 2em;
    text-transform: uppercase;
}

footer {
    background-color: rgb(221, 221, 221);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 1em;
    margin-top: 1em;
    max-width: 1200px;
    margin-inline: auto;
}

.footer__list {
    display: flex;
    gap: 2em;
    margin-right: 1em;
}

.footer__copyright{
    display: block;
    margin-right: 1em;
}

@media (max-width: 768px) {
    input[type="email"] {
        width: 100%;
    }


    #submit {
        margin: 0;
    }

   .pricing {
       flex-direction: column;
   }
}

@media (max-width: 575px) {
    #header {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .icon {
        display: none;
    }

    .features {
        width: 80%;
        text-align: center;
    }

    .description {
        width: 100%;
    }

    .text {
        width: 100%;
    }

    .product {
        width: 100%;
    }


}